// Override default variables before the import
$primary: #0E9FAC;
$secondary: #75919E;
$success: #9BC53D;
$warning: #FA7820;
$danger: #BD2326;
$info: #37B6C4;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$h1-font-size:                $font-size-base * 1.85 !default;
$h2-font-size:                $font-size-base * 1.6 !default;
$body-bg: #fff;

// Import Bootstrap 
@import '~bootstrap/scss/bootstrap.scss';
@import './blocks/game-card/game-card.scss';
@import './blocks/add-card/add-card.scss';
@import './blocks/game-section/game-section.scss';
@import './blocks/button/button.scss';
@import './blocks/input-form/input-form.scss';

.container{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header{
  margin-top: 30px;
  margin-bottom: 30px;
}



