.game-section{
    flex: 1;
  
    &__header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: 20px;
  
      h2{
        flex: 2;
      }
      input{
        flex:1;
      }
    }
  }